.Dashboard .quick-access-bar {
  text-align: center;
  padding: 32px 0;
}

.Dashboard .quick-access-bar .quick-access-item {
  display: inline-block;
  margin: 0 16px;
}

.Dashboard .quick-access-item:hover {
  cursor: pointer;
}

.Dashboard .quick-access-bar a {
  text-decoration: none;
  color: inherit;
}

.Dashboard h2 {
  margin-top: 80px;
}

.Dashboard h3 {
  margin-top: 80px;
}
