.NewProduct form {
  padding-bottom: 15px;
}

.NewProduct form textarea {
  height: 300px;
  font-size: 24px;
}

.NewProduct {
  margin: 64px auto;
}

.NewProduct .ProgressBar {
  margin: 8px 16px;
}

.NewProduct .steps-bar {
  text-align: center;
  position: sticky;
  top: 0;
  padding-top: 8px;
  background-color: white;
  z-index: 10;
}

.NewProduct .steps-bar .steps-bar-item {
  display: inline-block;
  margin: 0 12px;
}

.NewProduct .steps-bar-item:hover {
  cursor: pointer;
  color: black;
}

.NewProduct .steps-bar a {
  text-decoration: none;
  color: inherit;
}

.NewProduct .steps-bar p {
  margin-bottom: 0;
}

.NewProduct #images-tab {
  margin: 80px 0;
}

.NewProduct #inventory-tab {
  margin: 80px 0;
}

.NewProduct .NewProductCountries {
  margin: 64px 32px;
}

.NewProduct .NewProductCategories {
  margin: 64px 32px;
}

.NewProduct .hidden {
  display: none;
}

.NewProduct .LoaderButton {
  width: 10em;
  margin: 32px auto;
}

.NewProduct section {
  margin-top: 80px;
}
