.NewProduct form {
  padding-bottom: 15px;
}

.NewProduct form textarea {
  height: 300px;
  font-size: 24px;
}

.NewProduct {
  margin: 64px auto;
}

.NewProduct .ProgressBar {
  margin: 32px auto;
}
