.NewProduct form {
  padding-bottom: 15px;
}

.NewProduct form textarea {
  height: 300px;
  font-size: 24px;
}

.NewProduct {
  margin: 64px auto;
}

.NewProduct .ProgressBar {
  margin: 8px 16px;
}

.NewProduct .steps-bar {
  text-align: center;
  position: sticky;
  top: 0;
  padding-top: 8px;
  background-color: white;
}

.NewProduct .steps-bar .steps-bar-item {
  display: inline-block;
  margin: 0 16px;
}

.NewProduct .steps-bar-item:hover {
  cursor: pointer;
  color: black;
}

.NewProduct .steps-bar a {
  text-decoration: none;
  color: inherit;
}

.NewProduct .steps-bar p {
  margin-bottom: 0;
}

.NewProduct #images {
  margin: 80px 0;
}

.NewProduct #description {
  margin: 80px 0;
}

.NewProduct .hidden {
  display: none;
}
