.NewProductCountries button {
  margin: 8px;
}

.NewProductCountries {
  padding: 8px;
  margin: 32px;
  box-shadow: 0.3em 0 0.4em gainsboro, -0.3em 0 0.4em gainsboro;
  border: 1px solid;
}

.NewProductCountries .countries-dropdown {
  margin: 16px;
}
